{% extends 'base.html.twig' %}

{% block title %}Audit index{% endblock %}

{% block body %}
    <h1>Audit index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>Scope</th>
                <th>Notes</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for audit in audits %}
            <tr>
                <td>{{ audit.id }}</td>
                <td>{{ audit.status }}</td>
                <td>{{ audit.startDate ? audit.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ audit.endDate ? audit.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ audit.scope }}</td>
                <td>{{ audit.notes }}</td>
                <td>{{ audit.createdAt ? audit.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ audit.updatedAt ? audit.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_audit_show', {'id': audit.id}) }}">show</a>
                    <a href="{{ path('app_audit_edit', {'id': audit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_audit_new') }}">Create new</a>
{% endblock %}
