{% extends 'base.html.twig' %}

{% block title %}Audit{% endblock %}

{% block body %}
    <h1>Audit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ audit.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ audit.status }}</td>
            </tr>
            <tr>
                <th>StartDate</th>
                <td>{{ audit.startDate ? audit.startDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ audit.endDate ? audit.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Scope</th>
                <td>{{ audit.scope }}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ audit.notes }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ audit.createdAt ? audit.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ audit.updatedAt ? audit.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_audit_index') }}">back to list</a>

    <a href="{{ path('app_audit_edit', {'id': audit.id}) }}">edit</a>

    {{ include('audit/_delete_form.html.twig') }}
{% endblock %}
